body {
  padding: 60px 10px 60px 10px;
}

.form-element-margin input, textarea {
  margin-bottom: 5px;
}

a:hover {
  text-decoration: none;
}

ul.nav > li {
  a[href], a[href]:hover, a[ng-click], a[ng-click]:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

.game-settings {
  text-align: center;
}

div.input-group-addon.join-game {
  a {
    color: white;
  }
  a:hover {
    cursor: pointer;
  }
  background-color: #5cb85c;
}

nav.navbar ul > li:not(:first-child):hover, .col-md-6 > ul > li:hover {
  background-color: #E7E7E7;
}

.navbar-blue {
  background-color: #337ab7;
}

.text-white {
  color: #fff;
}

.text-black {
  color: rgba(0, 0, 0, 0.77);
}

.text-dark-gray {
  color: #777777;
}

.disabled {
  cursor: not-allowed;
}

.table.table-bordered.table-inverse {

  width: 95%;
  height: 65vh;

  margin-left: auto;
  margin-right: auto;

  .move-made-X {
    background-image: url("../images/x.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
  }

  .move-made-O {
    background-image: url("../images/o.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
  }

}

div.col-md-6 {
  ul {
    width: 95%;
    height: 65vh;
    overflow: auto;

    li {
      overflow-y: scroll;
    }
  }
}

tr {
  td, th {
    text-align: center;
  }
}

.crud-icon {
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}
