body {
  padding: 60px 10px 60px 10px;
}

.form-element-margin input, textarea {
  margin-bottom: 5px;
}

a:hover {
  text-decoration: none;
}

ul.nav > li {
  a[href], a[href]:hover, a[ng-click], a[ng-click]:hover {
    cursor: hand;
    cursor: pointer;
    font-weight: bold;
  }
}

.game-settings {
  text-align: center;
}

div.input-group-addon.join-game {
  a {
    color: white;
  }
  a:hover {
    cursor: hand;
    cursor: pointer;
  }
  background-color: #5cb85c;
}

li:not(:first-child):hover {
  background-color: #E7E7E7;
}

.navbar-blue {
  background-color: #337ab7;
}

.text-white {
  color: #fff;
}

.text-black {
  color: rgba(0, 0, 0, 0.77);
}

.text-dark-gray {
  color: #777777;
}

.disabled {
  cursor: not-allowed;
}

.table.table-bordered.table-inverse {

  width: 95%;
  height: 65vh;

  margin-left: auto;
  margin-right: auto;

  .move-made-X {
    background-image: url("../images/x.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
  }

  .move-made-O {
    background-image: url("../images/o.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
  }

}
