<div ng-include="'views/home/templates/home-navbar.view.client.html'"></div>

<div class="container-fluid">
    <div class="list-group">
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="username">Username</label>
                    </div>
                    <div class="col-sm-4">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="roles">User Roles</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Games</label>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
            </li>
            <li class="list-group-item listing-users">
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" id="username" class="form-control" ng-model="model.user.username">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" id="email" class="form-control" ng-model="model.user.email">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="roles" class="form-control" ng-model="model.user.roles">
                    </div>
                    <div class="col-sm-2">
                        <!--TODO: use the link that admin clicks -->
                        <a ng-show="model.user._id" href="#!/users/{{model.user._id}}/games">View Games</a>
                    </div>
                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon-remove pull-right" ng-click="model.user={};"></span>
                        <span class="glyphicon glyphicon-ok pull-right" ng-click="model.upsertUser(model.user)"></span>
                    </div>
                </div>
            </li>
            <li class="list-group-item" ng-repeat="user in model.users">
                <div class="row">
                    <div class="col-sm-2">{{ user.username }}</div>
                    <div class="col-sm-4">{{ user.email }}</div>
                    <div class="col-sm-3">{{ user.roles }}</div>
                    <div class="col-sm-2">
                        <a href="#!/users/{{user._id}}/games">View Games</a>
                    </div>
                    <div class="col-sm-1 crud-icon">
                        <span ng-click="model.deleteUser(user)"
                              class="glyphicon glyphicon-remove pull-right">
                        </span>
                        <span ng-click="model.selectUser(user._id)"
                              class="glyphicon glyphicon-pencil pull-right">
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
