<div ng-include="'views/home/templates/home-navbar.view.client.html'"></div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Player 1</th>
        <th>Player 2</th>
        <th>Grid</th>
        <th>Total Moves</th>
        <th>{{ model.isAdmin(model.user) ? 'Winner' : 'Result' }}</th>
        <th>Date Created</th>
        <th>View</th>
        <th ng-if="model.isAdmin(model.user)">Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="game in model.games track by $index">
        <th scope="row">{{ $index }}</th>
        <td>{{ game._player1.username }}</td>
        <td>{{ game._player2.username == null ? 'Computer' : game._player2.username}}</td>
        <td>{{ game.board.grid }}</td>
        <td>{{ game.board.moves.length }}</td>
        <td>{{ game.result }}</td>
        <td>{{ game.dateCreated | date:'MM/dd/yyyy @ h:mma' }}</td>
        <td>
            <a href="#!/games/{{ game._id }}">
                View Game
            </a>
        </td>
        <td ng-if="model.isAdmin(model.user)" class="crud-icon" ng-click="model.removeGame(game._id)">
            <span class="glyphicon glyphicon-remove">
            </span>
        </td>
    </tr>
    </tbody>
</table>
