<div class="container-fluid">

    <div class="alert alert-info" ng-show="model.message">
        {{model.message}}
    </div>

    <div class="alert alert-success" ng-show="model.result">
        {{model.result}}
    </div>

    <table class="table table-bordered table-inverse">
        <tr ng-repeat="i in model.rowIndex">
            <td ng-repeat="j in model.colIndex" data-move="{{i*model.shared.grid+j}}"
                ng-click="model.makeMove(i*model.shared.grid+j, model.isMyTurn)">
                row {{i}} col {{j}}
            </td>
        </tr>
    </table>

    <div class="game-settings">
        <div class="game-settings-grid">
            <label for="grid">Grid</label>
            <input id="grid" type="number" ng-model="model.shared.grid" ng-change="model.gridChanged(model.shared.grid)">
        </div>
    </div>

    <a ng-show="!model.local" class="btn btn-primary" ng-click="model.createRoom()">Create Game</a>
    <a ng-show="!model.local" class="btn btn-info" ng-click="model.joinRoom()">Join Game</a>

</div>

{{model}}
