<div ng-include="'views/home/templates/home-navbar.view.client.html'"></div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Player 1</th>
        <th>Player 2</th>
        <th>Grid</th>
        <th>Result</th>
        <th>Date Created</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="game in model.games track by $index">
        <th scope="row">{{ $index }}</th>
        <td>{{ game._player1.username }}</td>
        <td>{{ game._player2.username == null ? 'Computer' : game._player2.username}}</td>
        <td>{{ game.board.grid }}</td>
        <td>{{ game.result }}</td>
        <td>{{ game.dateCreated | date:'MM/dd/yyyy @ h:mma' }}</td>
        <td>
            <a href="#!/games/{{ game._id }}">
                View Game
            </a>
        </td>
    </tr>
    </tbody>
</table>
