<div ng-include="'views/home/templates/home-navbar.view.client.html'"></div>

<div class="container-fluid">

    <div class="alert alert-info" ng-show="model.message">
        {{model.message}}
    </div>

    <div class="alert alert-success" ng-show="model.result && !model.message">
        {{model.result}}
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-inverse">
                <tr ng-repeat="i in model.rowIndex">
                    <td ng-repeat="j in model.colIndex" data-move="{{i*model.shared.grid+j}}"
                        ng-click="model.makeMove(i*model.shared.grid+j)">
                    </td>
                </tr>
            </table>

            <form class="form-inline game-settings" ng-show="!model.gameInProgress()">
                <label class="sr-only" for="grid">Grid</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">Grid</div>
                    <input id="grid" type="number" class="form-control" ng-model="model.shared.grid"
                           ng-change="model.gridChanged(model.shared.grid)">
                    <div class="input-group-addon join-game" ng-click="model.joinRoom()">
                        <a ng-show="!model.local">Join Game</a>
                    </div>
                </div>
                <a href="#!/local">Switch to Local Game</a>
            </form>
        </div>

        <div ng-include="'views/games/templates/game-msgbox.view.client.html'"></div>
    </div>


    <h1 ng-show="model.isMyTurn && !model.result">Your Turn</h1>

</div>
